.swiper-wrapper {
  max-width: 100%;
  min-width: 0;
}
.swiper-title {
  font-size: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  text-align: center;
  color: goldenrod;
}
.swiper-slide {
  text-align: center;
  padding: 0px 40px 0px 40px;
}
.swiper-button-prev,
.swiper-button-next {
  color: goldenrod;
  min-width: 0;
}
