<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/slider-wrapper.css" /
  </head>
  <body>
    <section>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../images/02.jpg" alt="photo" width="400" height="300" />
          </div>
          <div class="swiper-slide">
            <img src="../images/03.jpg" alt="photo" width="400" height="300" />
          </div>
          <div class="swiper-slide">
            <img src="../images/04.jpg" alt="photo" width="400" height="300" />
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <script type="modal" src="../js/mein.js"></script>
  </body>
</html>
