<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Cormorant:wght@700&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./sass/component/index.scss" />
  </head>
  <body>
    <section class="reviews" id="review">
      <div class="container">
        <h2 class="reviews-title">відгуки</h2>
        <div class="reviews-swiper">
          <div class="reviews-swiper__wrap swiper-wrapper">
            <div class="reviews-slid swiper-slide">
              <picture class="review-image">
                <source
                  srcset="
                    ./images/index-down/mobile/reviws51x-min.webp 1x,
                    ./images/index-down/mobile/reviws52x-min.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/mobile/reviws51x-min.jpg 1x,
                    ./images/index-down/mobile/reviws52x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws51x-min.webp 1x,
                    ./images/index-down/desktop/reviws52x-min.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1000px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws51x-min.jpg 1x,
                    ./images/index-down/desktop/reviws52x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1000px)"
                />

                <img
                  src="./images/index-down/desktop/reviws52x-min.jpg"
                  alt="рукі які тягнуться друг до друга"
                />
              </picture>
              <div class="slid-text-wrap">
                <h2 class="review-name">Петро</h2>
                <p class="review-type">Індивідуальна консультація</p>
                <p class="reviw-text">
                  vitae maiores soluta cumque sit harum eaque corrupti quasi. Ut
                  dolorem quia, dolorum iste beatae recusandae esse ipsum. Ut,
                  commodi et. Laudantium, ipsam! Nesciunt, aliquid facere.
                  Perferendis?
                </p>
              </div>
            </div>
            <div class="reviews-slid swiper-slide">
              <picture class="review-image">
                <source
                  srcset="
                    ./images/index-down/mobile/reviws61x-min.webp 1x,
                    ./images/index-down/mobile/reviws62x-min.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/mobile/reviws61x-min.jpg 1x,
                    ./images/index-down/mobile/reviws62x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws61x-min.webp 1x,
                    ./images/index-down/desktop/reviws62x-min.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1000px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws61x-min.jpg 1x,
                    ./images/index-down/desktop/reviws62x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1000px)"
                />

                <img
                  src="./images/index-down/desktop/reviws62x-min.jpg"
                  alt="рукі які тягнуться друг до друга"
                />
              </picture>
              <div class="slid-text-wrap">
                <h2 class="review-name">Василь та Іринка</h2>
                <p class="review-type">Дитяча консультація</p>
                <p class="reviw-text">
                  vitae maiores soluta cumque sit harum eaque corrupti quasi. Ut
                  dolorem quia, dolorum iste beatae recusandae esse ipsum. Ut,
                  commodi et. Laudantium, ipsam! Nesciunt, aliquid facere.
                  Perferendis?
                </p>
              </div>
            </div>
            <div class="reviews-slid swiper-slide">
              <picture class="review-image">
                <source
                  srcset="
                    ./images/index-down/mobile/reviws41x-min.jpg 1x,
                    ./images/index-down/mobile/reviws42x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws41x-min.webp 1x,
                    ./images/index-down/desktop/reviws42x-min.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1000px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws41x-min.jpg 1x,
                    ./images/index-down/desktop/reviws42x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1000px)"
                />

                <img
                  src="./images/index-down/desktop/reviws42x-min.jpg"
                  alt="рукі які тягнуться друг до друга"
                />
              </picture>
              <div class="slid-text-wrap">
                <h2 class="review-name">Емілі</h2>
                <p class="review-type">Індивідуальна консультація</p>
                <p class="reviw-text">
                  vitae maiores soluta cumque sit harum eaque corrupti quasi. Ut
                  dolorem quia, dolorum iste beatae recusandae esse ipsum. Ut,
                  commodi et. Laudantium, ipsam! Nesciunt, aliquid facere.
                  Perferendis?
                </p>
              </div>
            </div>
            <div class="reviews-slid swiper-slide">
              <picture class="review-image">
                <source
                  srcset="
                    ./images/index-down/mobile/reviws11x-min.jpg 1x,
                    ./images/index-down/mobile/reviws12x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws11x-min.webp 1x,
                    ./images/index-down/desktop/reviws12x-min.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1000px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws11x-min.jpg 1x,
                    ./images/index-down/desktop/reviws12x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1000px)"
                />

                <img
                  src="./images/index-down/desktop/reviws12x-min.jpg"
                  alt="рукі які тягнуться друг до друга"
                />
              </picture>
              <div class="slid-text-wrap">
                <h2 class="review-name">Соломія</h2>
                <p class="review-type">Індивідуальна консультація</p>
                <p class="reviw-text">
                  vitae maiores soluta cumque sit harum eaque corrupti quasi. Ut
                  dolorem quia, dolorum iste beatae recusandae esse ipsum. Ut,
                  commodi et. Laudantium, ipsam! Nesciunt, aliquid facere.
                  Perferendis?
                </p>
              </div>
            </div>
            <div class="reviews-slid swiper-slide">
              <picture class="review-image">
                <source
                  srcset="
                    ./images/index-down/mobile/reviws21x-min-2.webp 1x,
                    ./images/index-down/mobile/reviws22x-min.webp   2x
                  "
                  type="image/webp"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/mobile/reviws21x-min.jpg 1x,
                    ./images/index-down/mobile/reviws22x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws21x-min-2.webp 1x,
                    ./images/index-down/desktop/reviws22x-min.webp   2x
                  "
                  type="image/webp"
                  media="(min-width: 1000px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws21x-min.jpg 1x,
                    ./images/index-down/desktop/reviws22x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1000px)"
                />

                <img
                  src="./images/index-down/desktop/reviws22x-min.jpg"
                  alt="рукі які тягнуться друг до друга"
                />
              </picture>
              <div class="slid-text-wrap">
                <h2 class="review-name">Вероніка</h2>
                <p class="review-type">Індивідуальна консультація</p>
                <p class="reviw-text">
                  vitae maiores soluta cumque sit harum eaque corrupti quasi. Ut
                  dolorem quia, dolorum iste beatae recusandae esse ipsum. Ut,
                  commodi et. Laudantium, ipsam! Nesciunt, aliquid facere.
                  Perferendis?
                </p>
              </div>
            </div>
            <div class="reviews-slid swiper-slide">
              <picture class="review-image">
                <source
                  srcset="
                    ./images/index-down/mobile/reviws31x-min.webp 1x,
                    ./images/index-down/mobile/reviws32x-min.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/mobile/reviws31x-min.jpg 1x,
                    ./images/index-down/mobile/reviws32x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 999.9px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws31x-min.webp 1x,
                    ./images/index-down/desktop/reviws32x-min.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1000px)"
                />

                <source
                  srcset="
                    ./images/index-down/desktop/reviws31x-min.jpg 1x,
                    ./images/index-down/desktop/reviws32x-min.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1000px)"
                />

                <img
                  src="./images/index-down/desktop/reviws32x-min.jpg"
                  alt="рукі які тягнуться друг до друга"
                />
              </picture>
              <div class="slid-text-wrap">
                <h2 class="review-name">Ковальчуки</h2>
                <p class="review-type">Сімейна консультація</p>
                <p class="reviw-text">
                  vitae maiores soluta cumque sit harum eaque corrupti quasi. Ut
                  dolorem quia, dolorum iste beatae recusandae esse ipsum. Ut,
                  commodi et. Laudantium, ipsam! Nesciunt, aliquid facere.
                  Perferendis?
                </p>
              </div>
            </div>
          </div>
          <div class="reviews-pagination"></div>
        </div>
      </div>
    </section>
    <script src="./js/reviews-slider.js" type="module"></script>
  </body>
</html> -->
