<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/slider-wrapper.css" />
  </head>
  <body>
    <section class="swiper-section">
      <h1 class="swiper-title">Swiper</h1>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../images/02.jpg" alt="city" width="3000" height="2100" />
          </div>
          <div class="swiper-slide">
            <img src="../images/03.jpg" alt="city-sky" />
          </div>
          <div class="swiper-slide">
            <img src="../images/04.jpg" alt="city1" />
          </div>
          ...
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
